* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: radial-gradient(circle, #f2edf2, #e7bfe7, #da90da, #cc5ecc, #bc04bc);
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
button{
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background: transparent;
}
#sub-navbar{
    position: absolute;
    background-color: white;
    top: 50px;
    right: 30px;
    width: 200px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 10px 20px;
    display: none;
}
#profile{
    padding: 0px 60px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
#sub-navbar li{
    padding: 5px 0px;
    list-style: none;
}
#sub-navbar button{
    font-size: 16px;
} 
#profile:hover, #profile button:hover{
    color: rgb(171, 10, 171);
}
#user{
    font-size: 20px;
    font-weight: 600;
    color: blue;
}
#per_inf{
    background-color: white;
    width: 60%;
    height: 530px;
    margin: 50px auto;
    border-radius: 10px;
    padding: 20px 40px;
}
#title{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-bottom: 30px;
}
#name, #shop_name, #email, #contact, #gstin{
    font-size: 18px;
    font-weight: bold;
    padding: 10px 50px;
}