* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background-image: radial-gradient(circle, #f2edf2, #e7bfe7, #da90da, #cc5ecc, #bc04bc);
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 64px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.625);
  position: sticky;
  top: 0;
  z-index: 1;
}

body,
input,
button {
  font-size: 20px
}

input{
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

/*=============== register ===============*/
.register {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.register__form {
  position: relative;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  background-color: white;
}
.register__title {
  text-align: center;
  margin-bottom: 2rem;
}
.register__content, .register__box {
  display: grid;
}
.register__content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.register__box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.register__icon, .register__eye {
  font-size: 1.25rem;
}
.register__input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  position: relative;
}

input:-webkit-autofill{
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.register__box-input {
  position: relative;
}
.register__label {
  position: absolute;
  left: 0;
  top: 13px;
  transition: top 0.3s, font-size 0.3s;
}
.register__eye {
  position: absolute;
  right: 0;
  top: 18px;
  z-index: 10;
  cursor: pointer;
}
.register__box:nth-child(2) input {
  padding-right: 1.8rem;
}
.register__forgot, .register__register {
  font-size: 15px;
}
.register__button {
  color: white;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: black;
  cursor: pointer;
  margin-bottom: 2rem;
}
.register__register {
  text-align: center;
}
.register__register a {
  color: black;
  font-weight: bold;
}
.register__register a:hover {
  text-decoration: underline;
}

/* Input focus move up label */
.register__input:focus + .register__label {
  top: -12px;
  font-size: 16px;
}

/* Input focus sticky top label */
.register__input:not(:placeholder-shown).register__input:not(:focus) + .register__label {
  top: -12px;
  font-size: 16px;
}



/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .register {
    justify-content: center;
  }
  .register__form {
    width: 450px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .register__title {
    font-size: 2rem;
  }
}

#verify{
  background-color: white;
  width: 30%;
  margin: 150px auto;
  padding: 40px;
  border-radius: 20px;
  display: none;
}
#verify label{
  font-size: 25px;
  font-weight: bold;
}
#verify input{
  margin: 20px 55px;
  padding: 10px;
  border-bottom: solid;
  text-align: center;
}
#verify div{
  text-align: center;
}
#verify button{
  background-color: black;
  color: white;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 10px;
}