* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  body{
    background-image: radial-gradient(circle, #f2edf2, #e7bfe7, #da90da, #cc5ecc, #bc04bc);
  }
  #header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 64px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.625);
    position: sticky;
    top: 0;
    z-index: 1;
  }
  input{
    border: none;
    outline: none;
  }
  input:-webkit-autofill{
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
body,
input,
button {
  font-size: 20px
}
#verify, #email_div, #reset_pass{
    background-color: white;
    width: 30%;
    margin: 150px auto;
    padding: 40px;
    border-radius: 20px;
    display: none;
}
#email_div{
    display: block;
}
#verify label, #email_div label, #reset_pass label{
    font-size: 25px;
    font-weight: bold;
}
#verify input{
    margin: 20px 55px;
    padding: 10px;
    border-bottom: solid;
    text-align: center;
}
#email_div input, #reset_pass input{
    margin: 20px 0px;
    padding: 10px;
    width: 90%;
    border-bottom: solid;
}
#verify div, #email_div div, #reset_pass div{
    text-align: center;
}
#verify button, #email_div button, #reset_pass button{
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin: 20px;
    border-radius: 10px;
}
.register__eye {
    cursor: pointer;
  }